<section class="mb-10">
  <h2 class="text-xl font-bold mb-4">II. Erratas en libros y tesis</h2>
  Al trabajar en el desarrollo de mis bibliotecas, surgieron algunas dudas mientras revisaba estos textos.
  Con todo el respeto y aprecio hacia los autores, he decidido registrar las erratas que encontré, con
  el único objetivo de aportar de manera constructiva.

  <div class="my-4"></div>
  <ul class="list-disc ml-4">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/errata-phd-thesis-cannas.pdf"
        title="Errata of PhD thesis by Sonia Cannas (2018) in PDF format"
        target="_blank"
        >Errata de la tesis doctoral (PhD) <em
          >Geometric Representation and Algebraic Formalization of Musical Structures</em
        > (2018) — PDF</a
      >
    </li>
  </ul>
  <ul class="list-disc ml-4">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/errata-figurate-numbers.pdf"
        title="Errata of Figurate Numbers (2012) in PDF format"
        target="_blank"
        >Errata de <em> Figurate Numbers</em> (2012) — PDF
      </a>
    </li>
  </ul>
</section>
