---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="mb-10">
  <h2 class="text-xl font-semibold mb-4">{title}</h2>
  <!-- Al desarrollar mis bibliotecas, surgieron dudas al revisar estos textos. Con respeto y aprecio por
  los autores, registré las erratas con ánimo constructivo. -->

  <div class="my-4"></div>
  <ul class="list-disc ml-4">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/errata-phd-thesis-cannas.pdf"
        title="Errata of PhD thesis by Sonia Cannas (2018) in PDF format"
        target="_blank"
        rel="noopener"
        >Errata de la tesis doctoral (PhD) <em
          >Geometric Representation and Algebraic Formalization of Musical Structures</em
        > (2018) - PDF</a
      >
    </li>
  </ul>
  <ul class="list-disc ml-4">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/errata-figurate-numbers.pdf"
        title="Errata of Figurate Numbers (2012) in PDF format"
        target="_blank"
        rel="noopener"
        >Errata de <em> Figurate Numbers</em> (2012) - PDF
      </a>
    </li>
  </ul>
</section>
