<section class="mb-10">
  <h2 class="text-xl">Archivos variados</h2>
  <ul class="list-disc ml-4 mt-3">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/miscellaneous-magdalena-park.pdf"
        title="Magdalena Park"
        target="_blank">Astroides y el parque de Magdalena del Mar en GeoGebra — PDF</a
      >
    </li>
  </ul>
</section>
