---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="mb-10">
  <h2 class="text-xl font-bold">{title}</h2>
  <ul class="list-disc ml-4 mt-3">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/lec-counterpoint-fux.pdf"
        title="lec-counterpoint-fux.pdf"
        target="_blank">Consonancia y disonancia en Fux: La función de polaridad - PDF</a
      >
    </li>
  </ul>
</section>
