<section class="mb-10">
  <h2 class="text-xl font-bold">Notas de Lectura y documentos versionados</h2>

  <h3 class="text-lg">B. Documentos versionados</h3>
  <ul class="list-disc ml-4 mt-3">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/lec-counterpoint-fux.pdf"
        title="lec-counterpoint-fux.pdf"
        target="_blank">Consonancia y disonancia en Fux: La función de polaridad - PDF</a
      >
    </li>
  </ul>
</section>
