---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="mb-10">
  <h2 class="text-xl font-bold">{title}</h2>

  <ul class="list-disc ml-4 mt-3">
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/misc-currying-ts.pdf"
        title="misc-currying-ts.pdf"
        target="_blank">Funciones currificadas en TypeScript - PDF</a
      >
    </li>
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/misc-magdalena-park.pdf"
        title="misc-magdalena-park.pdf"
        target="_blank">Astroides y el parque de Magdalena del Mar en GeoGebra - PDF</a
      >
    </li>
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/misc-motzkin-numbers.pdf"
        title="misc-motzkin-numbers.pdf"
        target="_blank">Números de Motzkin en teoría musical - PDF</a
      >
    </li>
    <li>
      <a
        class="text-primary hover:underline"
        href="/resources-files/misc-garcilaso-de-la-vega.pdf"
        title="misc-garcilaso-de-la-vega.pdf"
        target="_blank">Tercetos Garcilasianos y las simetrías del triángulo - PDF</a
      >
    </li>
  </ul>
</section>
