.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}

.mask-top {
  border-radius: 20%;
}

@import "tailwindcss";
@plugin "daisyui" {
  /* themes: sunset --default; */
  themes: false;

}

@plugin "./catppuccinTheme.mocha.ts";

/* Typography for BLOG/NOTES */
@plugin '@tailwindcss/typography';


@layer base {
  p {
    @apply leading-relaxed;
  }

}

@layer components {
  /* BASE for each post */
  .prose h2::after,
  .prose h3::after {
    content: " #";
    opacity: 0;
    margin-left: 0.2rem;
    color: rgb(from var(--color-primary) r g b / 0.8);
    transition: opacity 0.2s;
    translate: 0 -7px;
  }

  .prose h2:hover::after,
  .prose h3:hover::after {
    opacity: 0.4;
  }
}

/*
  .prose table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
   } */
html {
  scrollbar-gutter: stable ;
  overflow-y: auto
}

aside {
  scrollbar-gutter: stable;
  overflow-y: auto;
}

body {
  font-family: 'Fira Sans', sans-serif;
}

code {
   font-family: 'JetBrains Mono Variable', monospace;
}

/* Only with Shiki */
.astro-code {
  @apply rounded-md p-4 text-sm font-normal shadow-md border border-base-content/10;
}

.prose {
    max-width: none;
}

.prose :not(pre) > code {
  font-size: 0.90rem;
  padding: 0.1rem 0.3rem;
  border-width: 0.0px;
  border-radius: 0.25rem;
  background-color: rgb(from var(--color-base-content) r g b / 0.07);
}

/* Links to previous post and references in md files */


.prose :not(div) > a {
  color: rgb(from var(--color-base-primary) r g b / 0.8);
}

.prose :not(div) > a:hover {
  color: rgb(from var(--color-primary) r g b / 1);
}


/* SOLVE GLITCHS PROBLEMS WITH SVG IMAGES */

/* svg, img[src$=".svg"] {
  display: none;
} */
.drawer-side {
  will-change: transform;
}

.drawer-side svg {
  transform: translateZ(0);
  backface-visibility: hidden;
  contain: layout paint;
}

#sidebar-scroll-container {
  transform: translateZ(0);
}
