.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}

@import "tailwindcss";
@plugin "daisyui" {
  /* themes: sunset --default; */
  themes: false;
}

@plugin "./catppuccinTheme.mocha.ts";

/* Typography for BLOG/NOTES */
@plugin '@tailwindcss/typography';



@layer base {
  p {
    @apply leading-relaxed;
  }
}

/* BASE for each post */
/* @layer components {
  .prose h2::after,
  .prose h3::after {
    content: " #";
    opacity: 0;
    margin-left: 0.2rem;
    color: rgb(from var(--color-primary) r g b / 0.8);
    transition: opacity 0.2s;
    translate: 0 -7px;
  }

  .prose h2:hover::after,
  .prose h3:hover::after {
    opacity: 0.4;
  }
} */

html {
  scrollbar-gutter: stable ;
  overflow-y: auto;
  font-size: 17.5px
}

section .katex, .prose .katex {
  font-size: 1.1em;
}

aside {
    scrollbar-gutter: stable;
    overflow-y: auto;
}

body {
    font-family: 'Source Sans 3 Variable', sans-serif;
    font-weight: 400;
}

code {
    font-family: 'Source Code Pro Variable', monospace;
    font-weight: 400;
    font-synthesis: none;
}

/* Only with Shiki */
.astro-code {
  @apply  rounded-md shadow-md border border-base-content/10;
  font-size: 0.85em;
  line-height: 1.4;
  position: relative;
  padding: 0.75rem;
  padding-bottom: 0;
  padding-right: 2.7rem;

  & code {
    display: block;
    overflow-x: auto;
    padding-bottom: 0.75rem;
  }
}

.prose :not(pre) > code {
  padding: 0.1rem 0.25rem;
  border-width: 0.0px;
  border-radius: 0.25rem;
  background-color: rgb(from var(--color-base-content) r g b / 0.07);
}


pre button.my-copy-button {
  position: absolute;
  right: 0.3rem;
  top: 0.3rem;
  height: 28px;
  width: 28px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  & span {
    width: 16px;
    height: 16px;
    background-size: contain;
  }

  & .ready {
    background-color: rgb(from var(--color-base-content) r g b / 0.6);
    -webkit-mask: url("/src/icons/CopyCode.svg") center / contain no-repeat;
    mask: url("/src/icons/CopyCode.svg") center / contain no-repeat;
  }

  & .success {
    display: none;
    background-color: var(--color-primary);
    -webkit-mask: url("/src/icons/CheckCopy.svg") center / contain no-repeat;
    mask: url("/src/icons/CheckCopy.svg") center / contain no-repeat;
  }

  &:not(.copied):hover .ready {
     background-color: rgb(from var(--color-primary) r g b / 1);
  }
  &.copied .success {
    display: block;
  }
  &.copied .ready {
     display: none;
  }
}


/* Links to previous post and references in md files */
.prose {
    max-width: none;
    color: rgb(from var(--color-base-content) r g b / 0.9);
    & blockquote,
    & blockquote p {
        color: inherit;
        font-size: 1em;
        font-synthesis: none;
        line-height: 1.5;
        font-style: normal;
        font-weight: 400;
  }
}

.prose :not(div) > a {
  color: rgb(from var(--color-primary) r g b / 0.9);
  text-underline-offset: 2px;
  transition: color 200ms ease, text-decoration-thickness 200ms ease;
}
.prose :not(div) > a:hover {
  color: rgb(from var(--color-primary) r g b / 1);
  text-decoration-thickness: 2px;
}



/* SOLVE GLITCHS PROBLEMS WITH SVG IMAGES */
/* svg, img[src$=".svg"] {
  display: none;
} */
.drawer-side {
  will-change: transform;
}

.drawer-side svg {
  transform: translateZ(0);
  backface-visibility: hidden;
  contain: layout paint;
}

#sidebar-scroll-container {
  transform: translateZ(0);
}
