.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}

.mask-top {
  /* mask-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 1%, rgb(21, 21, 160) 8%); */

  /* -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 98%); */
  border-radius: 20%;
}


@import "tailwindcss";
@plugin "daisyui" {
  /* themes: dark --prefersdark, night; */
  themes: false;
}
@plugin "./catppuccinTheme.mocha.ts";

/* Typography for BLOG/NOTES */
@plugin '@tailwindcss/typography';
/* @tailwind base;
@tailwind components; */
@tailwind utilities;

@layer base {
  p {
    @apply leading-relaxed;
  }

}

/* FONTSOURCE imports */
body {
  font-family: 'Sora Variable', sans-serif;
}
code {
   font-family: 'JetBrains Mono Variable', monospace;
}

/* Only with Shiki */
.astro-code {
  @apply rounded-lg  overflow-x-auto p-4 text-sm font-normal shadow-md;

}
/* border border-gray-600 */



/* Inline code in md files */
/* Primary Color in Daisy UI: var(--color-primary);
/* Neutral Color in Daisy UI var(--color-neutral); */

.prose :not(pre) > code {
  padding: 2px 4px;
  border-radius: 0.25rem;
  border-width: 0;
  /* border-color: var(--color-gray-400); */
  font-size: 0.95rem;
  --tw-text-opacity: 1;
  background-color: var(--color-gray-700);
}

/* Links to previous post and references in md files */
.prose :not(div) > a {
  color: var(--color-primary)
}
