---
import { Image } from "astro:assets";
import sonicPiImage from "../../assets/libraries-webp/sonicpi-background.webp";
---

<figure class="text-center my-10 text-gray-400">
  <Image
    src={sonicPiImage}
    alt="Picture of modular forms library on Sonic Pi"
    class="w-[92%] mx-auto rounded-lg"
    loading="eager"
    fetchpriority="high"
  />
  <figcaption class="mt-6 text-sm text-gray-400">
    <span>Modular Forms and Elliptic Curves for Sonic Pi</span>
  </figcaption>
</figure>
