---
import { Image } from "astro:assets";
import sonicPiImage from "../../assets/libraries-webp/sonicpi-background.webp";
---

<figure class="text-center my-10 text-base-content/80">
  <Image
    src={sonicPiImage}
    alt="Picture of modular forms library on Sonic Pi"
    class="rounded-md"
    width={700}
    height={500}
    loading="lazy"
    format="webp"
  />
  <figcaption class="mt-6 text-sm text-base-content/80">
    <span>Modular Forms and Elliptic Curves for Sonic Pi</span>
  </figcaption>
</figure>
