---
import BaseLayout from "../layouts/BaseLayout.astro"
import TimeLineElement from "../components/cv/TimeLine.astro"
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Perfil</div>
  </div>

  <div class="mb-10">
    Cuento con experiencia en docencia presencial y virtual (teoría y tecnología para
    la producción musical, live coding Sonic Pi).
    <br />
    Soy un apasionado por la resolución de problemas y el autoaprendizaje en entornos
    tecnológicos e interesado en investigaciones interdisciplinarias de ciencia y arte.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Educación</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UNIR - Máster en Investigación Musical"
      subtitle="2019 - 2021 | España"
      >Matrícula de honor en Análisis Musical Informatizado. Promedio general:
      Sobresaliente 9.4</TimeLineElement
    >
    <TimeLineElement
      title="USMP - Licenciatura en Educación, Dirección e Interpretación Musical"
      subtitle="2009 - 2015 | Lima, Perú"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiencia</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Escuela de Posgrado Newman - Docente de Maestría en Musicología"
      subtitle="may.2024 - actualidad | Lima, Perú"
    >
      Asignaturas a mi cargo:
      <br />
      &bullet; Técnicas de búsqueda, documentación y difusión en investigación musicológica
    </TimeLineElement>
    <TimeLineElement
      title="EEST Toulouse Lautrec - Docente de producción musical "
      subtitle="jun.2022 - actualidad | Lima, Perú"
    >
      Responsable de enseñanza de cursos de producción musical usando tecnologías
      como Musescore 4, Reaper 6 y Ableton 11. Los comentarios anónimos sobre mi
      práctica docente son mayoritariamente favorables. Modalidad virtual.
    </TimeLineElement>
    <TimeLineElement
      title="Universidad Nacional Daniel Alomía Robles - Docente a tiempo completo"
      subtitle=" may.2019 - dic.2019 | Huánuco, Perú"
    >
      Responsable por los cursos de la carrera de educador musical y artista e
      intérprete profesional. Cursos impartidos: psicología del aprendizaje,
      didáctica de la música y didáctica general de la educación. Escribí un artículo
      expositivo sobre "Escalas musicales cuánticas", primer artículo sobre la
      temática en la institución. Tecnologías: Musescore 3, LaTex.
    </TimeLineElement>
    <TimeLineElement
      title="PAENFTS - Docente de área de música"
      subtitle="jun.2015 - oct.2017 | Lima, Perú"
    >
      Responsable de enseñanza instrumental y teoría musical para niños con altas
      capacidades y superdotación. En 2017 creamos un proyecto de aprendizaje
      centrado en conceptos geométricos titulado "Geometría de acordes", pionero en
      Perú y probablemente en Hispanoamérica. Tecnologías: Musescore 2.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Habilidades tecnológicas</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-10">
    <li>TypeScript, JavaScript, NodeJS</li>
    <li>Git, command line</li>
    <li>HTML, CSS</li>
    <li>LaTex</li>
    <li>Zotero, BibTeX</li>
    <li>TeXstudio</li>
    <li>Musescore 4</li>
    <li>Sonic Pi 4</li>
    <li>Geogebra</li>
    <li>Reaper</li>
  </ul>

  <div class="mb-5 mt-10">
    <div class="text-3xl w-full font-bold">Participación en Congresos</div>
  </div>

  <ul class="list-disc mx-6 mb-5 grid gap-2">
    <li>
      Ponente en Constelaciones: Congreso Interdisciplinario de Arte, Ciencia y
      Tecnología organizado por UTEC, PUCP, MAC-LIMA y Fundación Telefónica (2022).
      Ponencia: <b
        >¿Euclides en el live coding? Algoritmos y conceptos matemáticos durante la
        codificación en tiempo real.</b
      >
    </li>
    <li>
      Conferencista invitado en el marco del 32° Festival Internacional de Guitarra
      del Ipcna (2021). Ponencia: <b
        >Teorías Transformacionales de la Teoría Matemática de la Música.</b
      >
    </li>
    <li>
      PUCP (2015). Participante oyente en la <b
        >Conferencia Regional Latinoamericana y Panamericana de Educación Musical</b
      > - ISME.
    </li>
  </ul>
  <div class="mb-5 mt-10">
    <div class="text-3xl w-full font-bold">Cursos y certificaciones</div>
  </div>

  <ul class="list-disc mx-6 mb-5 grid gap-2">
    <li>
      Universidad Nacional de Ingeniería e Instituto de Matemáticas y Ciencias
      Afines, IMCA (2022). <b
        >Minicurso Antología de Ingenios Matemáticos. Proyecto final en GitHub.</b
      >
    </li>
    <li>
      PUCP (2016). <b
        >Creatividad en el aula de música. Estrategias didácticas y evaluativas.
      </b> Dictado por la Dra. Ana Lucía Frega.
    </li>
    <li>
      PUCP (2015). <b>Metodologías de la Investigación en Música.</b> Dictado por la Dra.
      Ana Lucía Frega.
    </li>
  </ul>
</BaseLayout>
