---
import BaseLayout from "../layouts/BaseLayout.astro";

import Biography from "../components/Biography.astro";
import IndexLinks from "@components/IndexLinks.astro";

import ProjectsComponent, { allProjects } from "../components/ProjectsComponent.astro";
import Experience, { allExperiences } from "../components/Experience.astro";
import ModEcImg from "@components/ModEcImg.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <ModEcImg />
  <section class="pb-3 mt-5">
    <div class="text-3xl font-bold leading-snug py-0 flex text-center">
      Edgar Delgado
      <!-- <p class="ml-2 animate-bounce">👋</p> -->
    </div>
    <div class="py-1 font-bold text-content">Math Software Developer | Creative Systems</div>

    <div class="py-2 mt-4">
      <Biography />
      <IndexLinks contactText="Contact me" linkedin="L" github="G" youtube="Y" />
    </div>

    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ProjectsComponent headTitle={"Libraries"} projects={allProjects} indices={[0, 1, 2]} />
    <div class="m-16"></div>
    <!-- <ListOfSkills title="Technologies" techSkills={techSkillsEnglish} indices={[0, 1]} /> -->
    <!-- <Education /> -->
  </section>
</BaseLayout>
