---
import BaseLayout from "@layouts/BaseLayout.astro"
import TimeLineElement from "@components/cv/TimeLine.astro"
import GitHub from "@components/icons/GitHub.astro"
import LinkedIn from "@components/icons/LinkedIn.astro"
import Youtube from "@components/icons/Youtube.astro"
import Instagram from "@components/icons/Instagram.astro"
import Work from "@components/icons/Work.astro"
import PencilEducation from "@components/icons/PencilEducation.astro"
import Branch from "@components/icons/Branch.astro"
import Skills from "@components/icons/Skills.astro"
import Experience from "@components/Experience.astro"
import ProjectsComponent from "@components/ProjectsComponent.astro"
import ListOfSkills from "@components/ListOfSkills.astro"
// import { getCollection } from "astro:content";
// import createSlug from "../lib/createSlug"

// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bienvenidos todos! 游녦</div>
    <div class="text-5xl font-bold leading-snug text-primary">
      Soy Edgar Delgado Vega
    </div>
    <div class="text-3xl py-3 font-bold text-secondary">Artista y live coder</div>
    <div class="py-2">
      <text class="text-lg">
        He escrito un art칤culo de Teor칤a Matem치tica de la M칰sica indexado en Scopus: <a
          href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
          target="_blank"
        >
          <b class="text-primary">
            Formal Structures of a Harmony in the Parabola (춰haz click!).
          </b></a
        >
        Adem치s de mi experiencia docente en el nivel superior, tanto en modalidad presencial
        como virtual, en 2023 empec칠 a desarrollar una librer칤a en <i>TypeScript</i> especializada
        en musicolog칤a matem치tica, a la que he llamado <a
          href="https://www.npmjs.com/package/ts-tonnetz"
          target="_blank"
        >
          <b class="text-primary">ts-tonnetz</b></a
        >.
        <br />
        <br />
        En la actualidad colaboro internacionalmente en el desarrollo de software libre
        para nuevos entornos de live coding, como
        <a class="text-primary" href="https://github.com/edelveart/zifferjs"
          ><b> zifferjs</b></a
        > y <a class="text-primary" href="https://github.com/edelveart/topos"
          ><b>topos</b></a
        >, mientras disfruto programar m칰sica con Sonic Pi o hacer secuencias
        infinitas de
        <a href="https://github.com/edelveart/figurate_numbers" target="_blank">
          <b class="text-primary">n칰meros figurados</b></a
        >.
      </text>
    </div>
    <!-- ml-5 mb-5 -->
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <a
        class="btn btn-outline"
        href="https://www.linkedin.com/in/edgararmandodelgadovega/"
        target="_blank"
      >
        <LinkedIn class="size-6" />
        LinkedIn
      </a>
      <a
        class="btn btn-outline"
        href="https://youtube.com/@edelvemusic"
        target="_blank"
      >
        <Youtube class="size-6" />
        Youtube
      </a>
      <a class="btn btn-outline" href="https://github.com/edelveart" target="_blank">
        <GitHub class="size-6" />
        GitHub
      </a>
      <a
        class="btn btn-outline"
        href="https://www.instagram.com/edgardelgadomusic/"
        target="_blank"
      >
        <Instagram class="size-6" />
        Instagram
      </a>
    </div>
  </div>

  <div class="text-3xl w-full font-bold flex items-center" id="PROJECTS">
    <Branch class="ml-0 mr-4" /> Proyectos
  </div>

  <div class="mb-10">
    <ProjectsComponent />
  </div>

  <div class="mb-5" id="EXPERIENCE">
    <div class="text-3xl w-full font-bold flex items-center">
      <Work class="ml-0 mr-4" />Experiencia
    </div>
  </div>

  <Experience />

  <div class="mb-5">
    <div class="text-3xl w-full font-bold flex items-center">
      <Skills class="ml-0 mr-4" />Habilidades Tecnol칩gicas
    </div>
  </div>
  <ListOfSkills />

  <div class="mb-5" id="EDUCATION">
    <div class="text-3xl w-full font-bold flex items-center">
      <PencilEducation class="ml-0 mr-4" />Educaci칩n
    </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UNIR - M치ster en Investigaci칩n Musical"
      subtitle="2019 - 2020 | Espa침a"
      >Matr칤cula de honor en An치lisis Musical Informatizado.</TimeLineElement
    >
    <TimeLineElement
      title="USMP - Licenciatura en Educaci칩n, Direcci칩n e Interpretaci칩n Musical"
      subtitle="2009 - 2015 | Lima, Per칰"
    />
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->
  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
