---
import BaseLayout from "../layouts/BaseLayout.astro"
import HorizontalCard from "../components/HorizontalCard.astro"
import TimeLineElement from "../components/cv/TimeLine.astro"
import GitHub from "@components/icons/GitHub.astro"
import LinkedIn from "@components/icons/LinkedIn.astro"
import Youtube from "@components/icons/Youtube.astro"
import Instagram from "@components/icons/Instagram.astro"
import Work from "@components/icons/Work.astro"
import PencilEducation from "@components/icons/PencilEducation.astro"
import Branch from "@components/icons/Branch.astro"
import Skills from "@components/icons/Skills.astro"
import { Image } from "astro:assets"
import Experience from "@components/Experience.astro"

// import { getCollection } from "astro:content";
// import createSlug from "../lib/createSlug"

// const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

// const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Bienvenidos todos 👋</div>
    <div class="text-5xl font-bold leading-snug text-primary">
      Soy Edgar Delgado Vega = edelve
    </div>
    <div class="text-3xl py-3 font-bold text-secondary">Artista y live coder</div>
    <div class="py-2">
      <text class="text-lg">
        He escrito un artículo de Teoría Matemática de la Música indexado en Scopus: <a
          href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
          target="_blank"
        >
          <b class="text-primary">
            Formal Structures of a Harmony in the Parabola (¡haz click!).
          </b></a
        >
        Además de mi experiencia docente en el nivel superior, tanto en modalidad presencial
        como virtual, en 2023 empecé a desarrollar una librería en <i>TypeScript</i> especializada
        en musicología matemática, a la que he llamado <a
          href="https://www.npmjs.com/package/ts-tonnetz"
          target="_blank"
        >
          <b class="text-primary">ts-tonnetz</b></a
        >.
        <br />
        <br />
        En la actualidad colaboro internacionalmente en el desarrollo de software libre
        para nuevos entornos de live coding, como
        <a class="text-primary" href="https://github.com/edelveart/zifferjs"
          ><b> zifferjs</b></a
        > y <a class="text-primary" href="https://github.com/edelveart/topos"
          ><b>topos</b></a
        >, mientras disfruto programar música con Sonic Pi.
      </text>
    </div>
    <!-- ml-5 mb-5 -->
    <div class="mt-8 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
      <a
        class="btn btn-outline"
        href="https://www.linkedin.com/in/edgararmandodelgadovega/"
        target="_blank"
      >
        <LinkedIn class="size-6" />
        LinkedIn
      </a>
      <a
        class="btn btn-outline"
        href="https://youtube.com/@edelvemusic"
        target="_blank"
      >
        <Youtube class="size-6" />
        Youtube
      </a>
      <a class="btn btn-outline" href="https://github.com/edelveart" target="_blank">
        <GitHub class="size-6" />
        GitHub
      </a>
      <a
        class="btn btn-outline"
        href="https://www.instagram.com/edgardelgadomusic/"
        target="_blank"
      >
        <Instagram class="size-6" />
        Instagram
      </a>
    </div>
  </div>

  <div class="text-3xl w-full font-bold flex items-center" id="PROJECTS">
    <Branch class="ml-0 mr-4" /> Proyectos
  </div>

  <div class="mb-10">
    <HorizontalCard
      title="ts-tonnetz in the new live coding environment TOPOS!"
      img="/topos-docs.png"
      desc="Since December 2023, you can improvise with my library 'ts-tonnetz' within Topos (a new live coding environment designed by Raphaël Forment and Miika Alonen). 'ts-tonnetz'  serves as a dependency for Ziffers, a numerical notation system for algorithmic composition. Topos has exceptionally simplified but sufficient documentation of ts-tonnetz, where many of the ideas of 2 doctoral theses on mathematical music theory are explained (see Bigo, 2013; Cannas, 2018), among other most notable research articles in the field. "
      url="https://topos.live/#ziffers_tonnetz"
      badge="Topos.live | TypeScript"
    />

    <div class="divider my-2"></div>

    <HorizontalCard
      title="A new library in npm for live coders: TS-TONNETZ"
      img="/ts-tonnetz.png"
      desc="A complete library of Neo-Riemannian Theory (67 functions and many graphs) written in TypeScript  for musicians, mathematicians and engineers interested in Mathematical Music Theory. It is based on two doctoral theses and notable articles on the subject. It is a perfect access point to this fascinating area where music, mathematics and computing at the highest level come together. Playing with ts-tonnetz will lead you to propose questions and new musical systems in an expressive and creative way."
      url="https://www.npmjs.com/package/ts-tonnetz"
      badge="npm | TypeScript"
    />

    <div class="divider my-2"></div>

    <HorizontalCard
      title="Ruby module to generate infinite sequences of figurate numbers"
      img="/figurate_numbers.png"
      desc="This Ruby gem enables the generation of 206 infinite sequences of plane, spatial, and multidimensional figurate numbers, as described in the book ‘Figurate Numbers’ (2012) by Elena Deza and Michel Deza. The methods, implemented using the Enumerator class, are designed for use in your math projects or in Sonic Pi."
      url="https://rubygems.org/gems/figurate_numbers"
      badge="RubyGems | Ruby"
    />
  </div>

  <div class="mb-5" id="EXPERIENCE">
    <div class="text-3xl w-full font-bold flex items-center">
      <Work class="ml-0 mr-4" />Experiencia
    </div>
  </div>

  <div class="time-line-container mb-10">
    <Experience />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold flex items-center">
      <Skills class="ml-0 mr-4" />Habilidades
    </div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
    <li>TypeScript, JavaScript, NodeJS</li>
    <li>Git, command line</li>
    <li>HTML, CSS</li>
    <li>LaTex</li>
    <li>Zotero, BibTeX</li>
    <li>TeXstudio</li>
    <li>Musescore 4</li>
    <li>Sonic Pi 4</li>
    <li>Geogebra</li>
    <li>Reaper</li>
  </ul>

  <div class="mb-5" id="EDUCATION">
    <div class="text-3xl w-full font-bold flex items-center">
      <PencilEducation class="ml-0 mr-4" />Educación
    </div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="UNIR - Máster en Investigación Musical"
      subtitle="2019 - 2021 | España"
      >Matrícula de honor en Análisis Musical Informatizado.</TimeLineElement
    >
    <TimeLineElement
      title="USMP - Licenciatura en Educación, Dirección e Interpretación Musical"
      subtitle="2009 - 2015 | Lima, Perú"
    />
  </div>

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div> -->
  <!-- {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  } -->
</BaseLayout>
