---
import BaseLayout from "@layouts/BaseLayout.astro";
import Biography from "@components/Biography.astro";
import IndexLinks from "@components/IndexLinks.astro";
import Experience, { allExperiences } from "@components/Experience.astro";
import ProjectsComponent, { allProjects } from "@components/ProjectsComponent.astro";

import ListOfSkills from "@components/ListOfSkills.astro";
import Education from "@components/Education.astro";
import { techSkillsSpanish } from "@components/ListOfSkills.astro";

import BlogEntry from "@components/BlogEntry.astro";
import Mordell from "@components/Mordell.astro";
import { techSkillsEnglish } from "@components/ListOfSkills.astro";
---

<BaseLayout sideBarActiveItemID="home">
  <Mordell />
  <div class="pb-3 mt-5 max-w-[700px]">
    <div class="text-3xl font-bold leading-snug pt-0">
      Hola, soy <strong> Edgar </strong> 👋
    </div>

    <div class="py-1 font-bold text-primary">Desarrollo software y amo las matemáticas</div>
    <div class="py-2 mt-4">
      <Biography />
    </div>
    <IndexLinks contactText="Contáctame" />

    <Experience workExperiences={allExperiences} indices={[0, 1]} />
    <ProjectsComponent
      headTitle={"Proyectos de software"}
      projects={allProjects}
      indices={[0, 2]}
    />
    <div class="m-16"></div>
    <ListOfSkills title="Tecnologías" techSkills={techSkillsSpanish} indices={[0, 1]} />
    <Education />
    <!-- <BlogEntry /> -->
  </div>
</BaseLayout>
