---
import BaseLayout from "@layouts/BaseLayout.astro"
import ProjectsComponent, {
  allProjects,
} from "@components/ProjectsComponent.astro"
---

<BaseLayout title="Projects" sideBarActiveItemID="projects">
  <div class="mt-[-1.5rem]">
    <ProjectsComponent projects={allProjects} indices={[0, 1, 2, 3]} />
  </div>
</BaseLayout>
