---
import BaseLayout from "@layouts/BaseLayout.astro";
import ProjectsComponent, { allProjects } from "@components/ProjectsComponent.astro";
---

<BaseLayout title="Projects" sideBarActiveItemID="PROJECTS_ACTIVE_PAGE">
  <section class="mt-[-0.75rem]">
    <ProjectsComponent
      headTitle={"Libraries"}
      projects={allProjects}
      indices={[0, 1, 2, 3, 4, 5, 6, 7]}
    />
  </section>
</BaseLayout>
