---
import BaseLayout from "@layouts/BaseLayout.astro";
import DocIco from "@icons/DocumentDownload.astro";
---

<BaseLayout title="Resources" sideBarActiveItemID="resources-page">
  <section class="pb-3 mt-5">
    <div class="mb-5 mt-5">
      <div class="text-2xl w-full font-bold flex items-center">
        <DocIco class="ml-0 mr-4 max-w-none" />
        Recursos, notas y lecturas
      </div>
    </div>

    <p class="mb-5">
      Bienvenido a la zona VIP de <strong>materiales, notas y lecturas</strong>. Me encanta
      compartir los recursos que he ido desarrollando sobre temas que cruzan las fronteras entre las
      matemáticas, la música y sus aplicaciones a través de software. Este espacio recopila
      reflexiones, artículos y notas de clase pensadas para inspirar y expandir tus conocimientos.
    </p>
    <p class="mb-5">
      Ya seas estudiante, curioso o alguien que disfruta de las conexiones entre cosas aparentemente
      distantes del arte sonoro, aquí encontrarás algo que te motive. Espero que la pases bien
      explorando este contenido tanto como yo me divierto leyendo y aprendiendo.
    </p>
    <section class="mb-10">
      <header>
        <h2 class="text-xl font-semibold">Notas de Clase</h2>
      </header>
      <article class="mb-6">
        <h3 class="text-lg">Matemáticas y live coding</h3>

        <!-- <ul class="list-disc pl-5">
          <li>
            <a href="./" class="text-primary hover:underline"
            >Notas sobre matemáticas - PDF</a
            >
            </li>
            </ul> -->
      </article>
    </section>

    <section class="mb-10">
      <h2 class="text-xl font-semibold">Erratas en libros y tesis</h2>
      <ul class="list-disc ml-4 mt-3">
        <li>
          <a
            class="text-primary hover:underline"
            href="/resources-files/errata-phd-thesis-cannas.pdf"
            title="Errata of PhD thesis by Sonia Cannas (2018) in PDF format"
            target="_blank"
            >Errata de la tesis doctoral (PhD) <em
              >Geometric Representation and Algebraic Formalization of Musical Structures</em
            > (2018) — PDF</a
          >
        </li>
      </ul>
      <ul class="list-disc ml-4 mt-3">
        <li>
          <a
            class="text-primary hover:underline"
            href="/resources-files/errata-figurate-numbers.pdf"
            title="Errata of Figurate Numbers (2012) in PDF format"
            target="_blank"
            >Errata de <em> Figurate Numbers</em> (2012) — PDF
          </a>
        </li>
      </ul>
    </section>
  </section>

  <section class="legal-notice text-xs mb-5">
    <h2 class="text-warning">Aviso Legal</h2>
    <p>
      Todo el contenido disponible en este sitio web, incluyendo los documentos y recursos
      relacionados, está protegido por derechos de autor y se distribuye bajo la licencia Creative
      Commons <a class="text-primary" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY-NC-SA 4.0</a
      > (Atribución-No Comercial-Compartir Igual).
    </p>
    <p>
      Esto significa que puedes copiar, modificar y distribuir el material para fines no
      comerciales, siempre que se te dé el crédito adecuado y las obras derivadas sean compartidas
      bajo los mismos términos. No se permite el uso comercial de este material sin una autorización
      explícita.
    </p>
  </section>
</BaseLayout>
