---
import TimeLine from "@components/TimeLine.astro";
import EducationSVG from "@icons/Education.astro";

const masterGradesAndAverage = {
  title: "UNIR | Máster en Investigación Musical",
  subtitle: "2019 - 2020 | España",
  description: `Obtuve una matrícula de honor y puntaje perfecto en Análisis Musical Informatizado.
    Promedio general: Sobresaliente.
    • TFM: Apliqué la teoría de complejos simpliciales (MaMuTh) para analizar un estilo musical utilizando software especializado.
    💻 HexaChord, Geogebra, LaTex
    `,
};
---

<section class="my-5" id="EDUCATION">
  <div class="text-2xl w-full font-bold flex items-center mt-10 mb-6">Educación</div>

  <div class="time-line-container grid gap-3 mb-0 mt-5">
    <TimeLine
      title={masterGradesAndAverage.title}
      subtitle={masterGradesAndAverage.subtitle}
      description={masterGradesAndAverage.description}
      moreInfo="Ver más"
    />

    <TimeLine
      title="USMP | Bachiller y Licenciatura en Música"
      subtitle="2009 - 2015 | Lima, Perú"
    />
  </div>
</section>
