<!-- <text class="">
  He escrito un artículo de Teoría Matemática de la Música indexado en Scopus: <a
    href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
    target="_blank"
  >
    <b class="text-primary">
      Formal Structures of a Harmony in the Parabola (¡haz click!).
    </b></a
  >
  Además de mi experiencia docente en posgrado, en 2023 empecé a desarrollar un paquete
  especializado en musicología matemática, al que he llamado <a
    href="https://www.npmjs.com/package/ts-tonnetz"
    target="_blank"
  >
    <b class="text-primary">ts-tonnetz</b></a
  >.
  <br />
  En la actualidad colaboro internacionalmente en el desarrollo de software libre
  para nuevos entornos de live coding, como
  <a class="text-primary" href="https://github.com/edelveart/zifferjs"
    ><b> zifferjs</b></a
  > y <a class="text-primary" href="https://github.com/edelveart/topos"
    ><b>topos</b></a
  >, mientras disfruto programar música con Sonic Pi o hacer secuencias
  infinitas de
  <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
    <b class="text-primary">números figurados</b></a
  >.
</text> --><!-- <text class="">
  Desarrollador TypeScript con conocimiento de algoritmos discretos y patrones
  de diseño. Escribí el artículo <a
    href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
    target="_blank"
  >
    <strong class="text-primary hover:underline">
      Formal Structures of a Harmony in the Parabola (¡haz clic!)</strong
    >,
  </a> indexado en Scopus. En 2023, comencé a desarrollar
  <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
    <strong class="text-primary hover:underline">ts-tonnetz</strong>,
  </a> un paquete para composición algorítmica usado por el entorno de codificación
  <a href="https://topos.live/#ziffers_tonnetz">
    <strong class="text-primary hover:underline">Topos (¡pruébalo aquí!)</strong
    >.
  </a>
  <br />
  <br />
  Además de enseñar en posgrado, mi entusiasmo por las matemáticas se refleja en
  mi gema
  <a href="https://rubygems.org/gems/figurate_numbers">
    <strong class="text-primary hover:underline">figurate_numbers</strong>,
  </a> que ha superado las 2000 descargas. También colaboro internacionalmente en
  la creación de software libre.
</text> -->
<text class="">
  Desarrollador TypeScript con conocimiento en algoritmos discretos y patrones
  de diseño. En 2023, inicié la creación de
  <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
    <strong class="text-primary hover:underline">ts-tonnetz</strong>,
  </a> un paquete para la composición algorítmica usado por el entorno de codificación
  <a href="https://topos.live/#ziffers_tonnetz">
    <strong class="text-primary hover:underline">Topos (¡pruébalo aquí!)</strong
    >.
  </a>
  <br />
  <br />
  Mi entusiasmo por las matemáticas se refleja en un
  <a
    href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
    target="_blank"
  >
    <strong class="text-primary hover:underline">artículo</strong>
  </a> indexado en Scopus y en la biblioteca
  <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
    <strong class="text-primary hover:underline">figurate_numbers</strong>,
  </a> que ha superado las 2000 descargas.

  <br />
  <br />
  Además de enseñar en posgrado, también colaboro internacionalmente en la creación
  de software libre.
</text>
