<section>
  <p class="mb-4">
    Desarrollador de software con conocimientos de algoritmos discretos y patrones de diseño. Me
    apasiona resolver problemas complejos, crear abstracciones y trabajar con estructuras
    matemáticas.
  </p>
  <p class="mb-4">
    En 2023, lancé
    <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
      <strong class="text-primary hover:underline">ts-tonnetz</strong>,
    </a> un paquete avanzado para composición algorítmica, actualmente integrado en <a
      href="https://topos.live/#ziffers_tonnetz"
    >
      <strong class="text-primary hover:underline">Topos (¡pruébalo aquí!)</strong>.
    </a>
    También publiqué un
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <strong class="text-primary hover:underline">artículo</strong>
    </a> indexado en Scopus y desarrollé las bibliotecas

    <a href=" https://www.npmjs.com/package/fignumbers" target="_blank">
      <strong class="text-primary hover:underline">fignumbers</strong>
    </a>
    y
    <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
      <strong class="text-primary hover:underline">figurate_numbers</strong>,
    </a>esta última con más de 2900 descargas.
  </p>
  <p class="mb-4">
    Además de enseñar a nivel de posgrado, colaboro en proyectos internacionales de software de
    código abierto.
  </p>
</section>
