<div class="text">
  <text>
    Desarrollador TypeScript con conocimiento en algoritmos discretos y patrones de diseño. En 2023,
    inicié la creación de
    <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
      <strong class="text-primary hover:underline">ts-tonnetz</strong>,
    </a> un paquete para la composición algorítmica usado por el entorno de codificación
    <a href="https://topos.live/#ziffers_tonnetz">
      <strong class="text-primary hover:underline">Topos (¡pruébalo aquí!)</strong>.
    </a>
    <br />
    <br />
    Escribí un
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <strong class="text-primary hover:underline">artículo</strong>
    </a> indexado en Scopus y creé la biblioteca
    <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
      <strong class="text-primary hover:underline">figurate_numbers</strong>,
    </a> que ha superado las 2000 descargas, lo que refleja mi entusiasmo por las matemáticas.

    <br />
    <br />
    Además de enseñar en posgrado, también colaboro internacionalmente en la creación de software libre.
  </text>
</div>
