<!-- <section>
  <p class="mb-4">
    Desarrollador TypeScript con conocimiento en algoritmos discretos y patrones de diseño. En 2023,
    inicié
    <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
      <strong class="text-primary hover:underline">ts-tonnetz</strong>,
    </a> un paquete para composición algorítmica usado por <a
      href="https://topos.live/#ziffers_tonnetz"
    >
      <strong class="text-primary hover:underline">Topos (¡pruébalo aquí!)</strong>.
    </a>
  </p>

  <p class="mb-4">
    Escribí un
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <strong class="text-primary hover:underline">artículo</strong>
    </a> indexado en Scopus y creé la biblioteca
    <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
      <strong class="text-primary hover:underline">figurate_numbers</strong>,
    </a> que ha superado las 2000 descargas, destacando mi pasión por las matemáticas.
  </p>

  <p class="mb-4">
    Además de enseñar en posgrado, colaboro en proyectos de software libre a nivel internacional.
  </p>
</section> -->
<section>
  <p class="mb-4">
    Desarrollador TypeScript con conocimiento de algoritmos discretos y patrones de diseño. En 2023, lancé
    <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
      <strong class="text-primary hover:underline">ts-tonnetz</strong>,
    </a> un paquete para composición algorítmica ahora usado por <a href="https://topos.live/#ziffers_tonnetz">
      <strong class="text-primary hover:underline">Topos (¡pruébalo aquí!)</strong>.
    </a>
  </p>

  <p class="mb-4">
    Apasionado por las matemáticas, escribí un
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <strong class="text-primary hover:underline">artículo</strong>
    </a> indexado en Scopus y desarrollé las bibliotecas

    <a href=" https://www.npmjs.com/package/fignumbers" target="_blank">
      <strong class="text-primary hover:underline">fignumbers</strong>
    </a>
    y
    <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
      <strong class="text-primary hover:underline">figurate_numbers</strong>,
    </a>esta última con más de 2500 descargas.
  </p>
  <p class="mb-4">Además de enseñar a nivel de posgrado, colaboro en proyectos internacionales de software de código abierto.</p>
</section>
