---
import { menuSpanish } from "./SideBar.astro";
---

<section>
  <p class="mb-4">
    Desarrollador de software apasionado por la resolución de problemas mediante abstracciones
    matemáticas, algoritmos discretos y patrones de diseño.
  </p>
  <p class="mb-4">
    Lancé ts-tonnetz, un paquete avanzado para composición algorítmica y
    <em>live coding</em>, actualmente integrado en <a
      href="https://topos.live/#ziffers_tonnetz"
      target="_blank"
    >
      <span class="text-primary hover:underline">Topos (¡pruébalo aquí!).</span>
    </a>Mis
    <a id="projects" href={menuSpanish.projectsMenu.href}>
      <span class="text-primary hover:underline">bibliotecas</span>
    </a>
    de números figurados superan las 12 000 descargas. Previamente, publiqué un
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <span class="text-primary hover:underline">artículo </span>
      <!-- <i class="text-primary fas fa-external-link-alt" aria-hidden="true"></i> -->
    </a>
    indexado en Scopus sobre Teoría Matemática de la Música.
  </p>
  <p class="mb-4">
    Además de enseñar a nivel de posgrado, colaboro en proyectos internacionales de código abierto.
    Aquí está mi <a
      class="text-primary hover:underline"
      href="./CURRICULUM LATEX EDGAR DELGADO.pdf"
      title="Descargar CV"
      target="_blank">CV</a
    >.
  </p>
</section>
