---
import { getCollection } from "astro:content";
import HorizontalCard from "@components/HorizontalCard.astro";
import createSlug from "../lib/createSlug";
import Blog from "@icons/Blog.astro";
const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
const last_posts = posts.slice(0, 3);
---

<div class="mb-5" id="BLOG">
  <div class="text-2xl w-full font-bold flex items-center mt-8 max-w-[700px]" id="BLOG">
    <Blog class="ml-0 mr-4" /> Blog
  </div>
</div>

<section class="mb-10 mt-0">
  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        {last_posts.length > 1 && <div class="divider my-3" />}
      </>
    ))
  }
</section>
