---
import TimeLine from "@components/TimeLine.astro";
import PencilEducation from "./icons/PencilEducation.astro";

const masterGradesAndAverage = {
  title: "UNIR | Máster en Investigación Musical",
  subtitle: "2019 - 2020 | España",
  description: `Obtuve una matrícula de honor y puntaje perfecto en Análisis Musical Informatizado.
    Promedio general: Sobresaliente.
    • TFM: Apliqué la teoría de complejos simpliciales (MaMuTh) para analizar un estilo musical mediante software.
    💻 HexaChord, Geogebra, LaTex
    `,
};
---

<div class="mb-5" id="EDUCATION">
  <div class="text-2xl w-full font-bold flex items-center mt-[-0.5rem]">
    <PencilEducation class="ml-0 mr-4" />Educación
  </div>
</div>

<div class="time-line-container grid gap-3 mb-0">
  <TimeLine
    title={masterGradesAndAverage.title}
    subtitle={masterGradesAndAverage.subtitle}
    description={masterGradesAndAverage.description}
    moreInfo="Ver más"
  />

  <TimeLine title="USMP | Licenciatura en Música" subtitle="2009 - 2015 | Lima, Perú" />
</div>
