---
import TimeLineElement from "@components/cv/TimeLine.astro"
---

<div class="time-line-container grid gap-4 mb-10">
  <TimeLineElement
    title="UNIR - Máster en Investigación Musical"
    subtitle="2019 - 2020 | España"
    >Matrícula de honor en Análisis Musical Informatizado.</TimeLineElement
  >
  <TimeLineElement
    title="USMP - Licenciatura en Educación, Dirección e Interpretación Musical"
    subtitle="2009 - 2015 | Lima, Perú"
  />
</div>
