---
import TimeLineElement from "@components/cv/TimeLine.astro"
import PencilEducation from "./icons/PencilEducation.astro"
---

<div class="mb-5" id="EDUCATION">
  <div class="text-2xl w-full font-bold flex items-center mt-[-0.5rem]">
    <PencilEducation class="ml-0 mr-4" />Educación
  </div>
</div>

<div class="time-line-container grid gap-4 mb-0">
  <TimeLineElement
    title="UNIR - Máster en Investigación Musical"
    subtitle="2019 - 2020 | España"
  >
    Matrícula de honor en Análisis Musical Informatizado <br />
    Promedio general: 9.4 Sobresaliente
  </TimeLineElement>
  <TimeLineElement
    title="USMP - Licenciatura en Música"
    subtitle="2009 - 2015 | Lima, Perú"
  />
</div>
