---
import TimeLineElement from "./cv/TimeLine.astro"
---

<div class="time-line-container mb-10">
  <TimeLineElement
    title="Escuela de Posgrado Newman - Docente de Maestría en Musicología"
    subtitle="may.2024 - actualidad | Lima, Perú"
  >
    Asignaturas a mi cargo:
    <br />
    &bullet; Técnicas de búsqueda, documentación y difusión en investigación musicológica
    <br />
    &bullet; Industrias culturales
  </TimeLineElement>
  <TimeLineElement
    title="EEST Toulouse Lautrec - Docente de producción musical "
    subtitle="jun.2022 - actualidad | Lima, Perú"
  >
    Responsable de enseñanza de cursos de producción musical usando tecnologías como
    Musescore 4, Reaper 6 y Ableton 11. Los comentarios anónimos sobre mi práctica
    docente son mayoritariamente favorables. Modalidad virtual.
  </TimeLineElement>
  <TimeLineElement
    title="Universidad Nacional Daniel Alomía Robles - Docente a tiempo completo"
    subtitle=" may.2019 - dic.2019 | Huánuco, Perú"
  >
    Responsable por los cursos de la carrera de educador musical y artista e
    intérprete profesional. Cursos impartidos: psicología del aprendizaje, didáctica
    de la música y didáctica general de la educación. Escribí un artículo expositivo
    sobre "Escalas musicales cuánticas", primer artículo sobre la temática en la
    institución. Tecnologías: Musescore 3, LaTex.
  </TimeLineElement>
  <TimeLineElement
    title="PAENFTS - Docente de área de música"
    subtitle="jun.2015 - oct.2017 | Lima, Perú"
  >
    Responsable de enseñanza instrumental y teoría musical para niños con altas
    capacidades y superdotación. En 2017 creamos un proyecto de aprendizaje centrado
    en conceptos geométricos titulado "Geometría de acordes", pionero en Perú y
    probablemente en Hispanoamérica. Tecnologías: Musescore 2.
  </TimeLineElement>
</div>
