---
import TimeLineElement from "./TimeLine.astro";

export const allExperiences = [
  {
    title: "ZifferJS | TypeScript Developer",
    subtitle: "oct.2023 - present | Finland | Remote",
    description: `I contribute to the development of ZifferJS, a generative music notation and parser. It is designed to fit into any live coding environment that supports web technologies.

    • Implementing mathematical algorithms based on simplicial complexes and graph theory
    • Creating unit tests and writing documentation
    • Creating generator functions to work with infinite sequences
    💻 TypeScript, Vitest, Git`,
  },
  {
    title:
      "Escuela de Posgrado Newman | Lecturer in Master's Musicology, Music Pedagogy, and Teaching in Higher Education",
    subtitle: "may.2024 - present | Tacna, Perú | Remote",
    description: `I teach courses in the following Master's programs:

    Master's in Musicology
    • Search, Documentation, and Dissemination Techniques in Musicological Research
    • Music Industries
    • Performative Research: Historical and Analytical Perspectives on Musical Performance
    • Musical Listening: A Historical and Cultural Approach

    Master's in Music Pedagogy
    • Communication, Knowledge, and Digital Learning Applied to Music Education
    • Music Education and Attention to Diversity
    • Music in Educational and Social Contexts

    Master's in Teaching in Higher Education
    • Basic Educational Strategies for University Teaching
    `,
  },
  {
    title:
      "Toulouse Lautrec, EEST | Instructor of Music Production and Electronic Production",
    subtitle: "jun.2022 - present | Lima, Perú | Remote",
    description: `Subjects I teach in the programs include:
    • Applied synthesis: Physical modeling, additive synthesis, subtractive synthesis, frequency modulation (FM) synthesis, and sampling
    • Fundamentals and tools of music production
    • Music theory, functional harmony and arrangements
    💻 MuseScore 4, Reaper 7`,
  },
  {
    title: "National University Daniel Alomía Robles | Full-time Professor",
    subtitle: "may.2019 - dec.2019 | Huánuco, Perú | In-person",
    description: `Subjects I taught in the degree:
    • General didactics of education
    • Psychology of learning
    • Music didactics
    💻 MuseScore 3, LaTex`,
  },
  {
    title: "PAENFTS | Music Educator",
    subtitle: "jun.2015 - oct.2017 | Lima, Perú | In-person",
    description: `Teaching music theory and performance.
    💻 MuseScore 2`,
  },
];

const { workExperiences, indices } = Astro.props;
const filteredExperiences = indices
  ? indices.map((index) => workExperiences[index]).filter(Boolean)
  : workExperiences;
---

<div class="text-3xl w-full font-black flex items-center my-10" id="EXPERIENCE">
  <!-- <Work class="ml-0 mr-4" /> -->
  Experience
</div>

<div class="time-line-container mb-8 grid gap-3">
  {
    filteredExperiences.map((experience, index) => (
      <>
        <TimeLineElement
          key={index}
          title={experience.title}
          subtitle={experience.subtitle}
          description={experience.description}
          moreInfo="See more"
        />
      </>
    ))
  }
</div>
