---
const cssImgFigurateNum = "rounded-xl max-w-[200px] flex-grow";
---

<div class="flex flex-wrap justify-center mr-6">
  <figure class="text-center mx-4">
    <div class="mx-auto w-fit">
      <img
        src="/svg-ggb/five-dimensional-hyperoctahedron.svg"
        alt="Figurate Number in Polar Coordinates"
        class={cssImgFigurateNum}
      />
    </div>
    <figcaption class="mt-0 text-sm text-gray-400">5D Hyperoctahedron</figcaption>
  </figure>

  <figure class="text-center mx-4">
    <div class="mx-auto w-fit">
      <img
        src="/svg-ggb/five-dimensional-hypercube.svg"
        alt="Figurate Number in Polar Coordinates"
        class={cssImgFigurateNum}
      />
    </div>
    <figcaption class="mt-0 text-sm text-gray-400">5D Hypercube</figcaption>
  </figure>
</div>
