---
const cssImgFigurateNum = "rounded-xl max-w-[200px] flex-grow";
---

<figure class="mr-4 text-center">
  <div class="flex flex-wrap gap-0 my-4 justify-center">
    <div>
      <img
        src="/svg-ggb/five-dimensional-hyperoctahedron.svg"
        alt="Figurate Number in Polar Coordinates"
        class={cssImgFigurateNum}
      />
      <figcaption class="mt-3 text-sm text-gray-400">5D Hyperoctahedron</figcaption>
    </div>
    <div>
      <img
        src="/svg-ggb/centered-decagonal-pyramidal.svg"
        alt="Figurate Number in Polar Coordinates"
        class={cssImgFigurateNum}
      />
      <figcaption class="mt-3 text-sm text-gray-400">Centered Decagonal Pyramidal</figcaption>
    </div>
    <div>
      <img
        src="/svg-ggb/five-dimensional-hypercube.svg"
        alt="Figurate Number in Polar Coordinates"
        class={cssImgFigurateNum}
      />
      <figcaption class="mt-3 text-sm text-gray-400">5D Hypercube</figcaption>
    </div>
  </div>
</figure>
