---
const cssImgFigurateNum = "rounded-xl max-w-[300px] flex-grow";
---

<div class="flex flex-wrap justify-center mr-8 my-8">
  <figure class="text-center">
    <div class="mx-auto w-fit">
      <img
        src="/svg-ggb/five-dimensional-hyperoctahedron.svg"
        alt="Figurate Number in Polar Coordinates"
        class={cssImgFigurateNum}
        loading="lazy"
      />
    </div>
    <figcaption class="my-4 text-sm text-gray-400"><code>5D Hyperoctahedron</code></figcaption>
  </figure>
</div>
