---
const currentLang = Astro.url.pathname.startsWith("/es") ? "es" : "en";
import { spanishFlag, englishFlag } from "./Languages.astro";
---

<div
  class="sticky lg:hidden top-0 z-30 flex h-16 w-full justify-center bg-opacity-90 backdrop-blur transition-all duration-100 bg-base-200 text-base-content shadow-sm mb-[-2rem] flex-wrap"
>
  <div class="navbar w-full">
    <div class="navbar-start">
      <label for="my-drawer" class="btn btn-square btn-ghost w-24">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="inline-block w-7 h-7 stroke-current"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
        <!-- <div class="font-bold"> -->
        {currentLang == "es" ? "Menú" : "Menu"}
        <!-- </div> -->
      </label>
    </div>
    <div class="navbar-center">
      <!-- {
        currentLang === "es" ? (
          <a class="btn btn-ghost normal-case text-base font-bold" href="/es">
            Edgar Delgado
          </a>
        ) : (
          <a class="btn btn-ghost normal-case text-base font-bold" href="/">
            Edgar Delgado
          </a>
        )
      } -->
    </div>

    <div class="navbar-end">
      {
        currentLang === "es" ? (
          <a
            class="btn btn-ghost"
            href="/"
            title="Switch to English"
            aria-label="Switch to English"
          >
            <span class={`${englishFlag} w-6 h-6`} />
            ENG
          </a>
        ) : (
          <a
            class="btn btn-ghost "
            href="/es"
            title="Cambiar a Español"
            aria-label="Cambiar a Español"
          >
            <span class={`${spanishFlag} w-6 h-6`} />
            ESP
          </a>
        )
      }
    </div>
  </div>
</div>
