---
import LinkedIn from "@icons/LinkedIn.astro";
import Youtube from "@icons/Youtube.astro";
import GitHub from "@icons/GitHub.astro";
import { SOCIAL_MEDIA } from "../config";
import QrCodeModal from "@icons/QrCode-Modal.astro";

export interface Props {
  contactText?: string;
  linkedin: string;
  github: string;
  youtube: string;
}
const { contactText, linkedin, github, youtube } = Astro.props;
---

<div class="my-10 flex justify-start gap-6 flex-wrap items-start">
  <a
    id="linkedin-btn"
    class="btn bg-inherit shadow-sm shadow-primary/30 hover:bg-base-300 rounded-lg py-6 px-3 flex-grow"
    href={SOCIAL_MEDIA.linkedin}
    target="
    _blank"
  >
    <LinkedIn class="w-6" />
    {contactText}
    <kbd class="kbd kbd-lg">L</kbd>
  </a>
  <a
    id="github-btn"
    class="btn hover:bg-secondary rounded-lg py-6 px-3 shadow shadow-primary/15 flex-grow"
    href={SOCIAL_MEDIA.github}
    target="_blank"
  >
    <GitHub class="w-6" />
    GitHub
    <kbd class="kbd kbd-lg">G</kbd>
  </a>

  <a
    id="youtube-btn"
    class="btn hover:bg-secondary rounded-lg py-6 px-3 shadow shadow-primary/15 flex-grow"
    href={SOCIAL_MEDIA.youtube}
    target="_blank"
  >
    <Youtube class="w-6" />
    YouTube
    <kbd class="kbd kbd-lg">Y</kbd>
  </a>

  <QrCodeModal />
</div>

<script is:inline>
  const keyToBtnId = {
    l: "linkedin-btn",
    g: "github-btn",
    y: "youtube-btn",
    q: "qr-modal",
  };

  window.addEventListener("keydown", (e) => {
    const tag = document.activeElement?.tagName.toLowerCase();
    if (tag === "input" || tag === "textarea") return;

    const key = e.key.toLowerCase();
    const btnId = keyToBtnId[key];

    if (btnId) {
      const btn = document.getElementById(btnId);
      if (btn) {
        btn.click();
      }
    }
  });
</script>
