---
import LinkedIn from "./icons/LinkedIn.astro";
import Youtube from "./icons/Youtube.astro";
import GitHub from "./icons/GitHub.astro";
import { SOCIAL_MEDIA } from "../config";

interface ContactText {
  contactText?: string;
}
const { contactText } = Astro.props as ContactText;
---

<div class="mt-5 mb-10 flex justify-start gap-4 flex-wrap">
  <a
    class="btn btm-nav-xs hover:scale-95 shadow-lg shadow-primary/30"
    href={SOCIAL_MEDIA.linkedin}
    target="_blank"
  >
    <LinkedIn class="w-6" />
    {contactText}
  </a>
  <a
    class="btn btm-nav-label hover:scale-95"
    href={SOCIAL_MEDIA.github}
    target="_blank"
  >
    <GitHub class="w-6" />
  </a>
  <a
    class="btn btn-nav-label hover:scale-95"
    href={SOCIAL_MEDIA.youtube}
    target="_blank"
  >
    <Youtube class="w-6" />
  </a>

  <a
    class="btn btn-nav-label hover:scale-95"
    href="/Resume-Edgar-Delgado-LaTex-2024.pdf"
    download
    target="_blank"
    title="Descargar Curriculum Vitae"
  >
    CV
  </a>
</div>
