---
const currentLang = Astro.url.pathname.startsWith("/en") ? "en" : "es"
export const spanishFlag = "fi fi-es"
export const englishFlag = "fi fi-gb"
---

<!-- Lipis/ flag-icons --><!-- It uses in BaseLayout and en/BaseLayout -->
<div class="hidden lg:flex gap-2 flex-wrap justify-end mt-[-1.5rem]">
  <a class="text-lg btn btn-ghost" href="/en" title="English">
    <span class={`mr-1  ${englishFlag}`}> </span>
    EN
  </a>
  <a class="text-lg btn btn-ghost" href="/" title="Español">
    <span class={`mr-1  ${spanishFlag}`}> </span>
    ES
  </a>
</div>
<!-- Lipis/ flag-icons -->

<!-- ALso is used in HEader (nav-bar-end)  -->
