<!-- Lipis/ flag-icons --><!-- It uses in BaseLayout and en/BaseLayout -->
<div class="hidden lg:flex gap-5 flex-wrap justify-end mt-[-1.5rem]">
  <a class="text-lg" href="/"> <span class="fi fi-es mr-1"></span>ES</a>
  <a class="text-lg" href="/en"> <span class="fi fi-gb mr-1"></span>EN</a>
</div>
<!-- Lipis/ flag-icons -->

<!-- ALso is used in HEader (nav-bar-end)  -->
