---
import GitHub from "./icons/GitHub.astro"
import Instagram from "./icons/Instagram.astro"
import LinkedIn from "./icons/LinkedIn.astro"
import Youtube from "./icons/Youtube.astro"

const {} = Astro.props
---

<a
  href="https://www.linkedin.com/in/edgararmandodelgadovega/"
  target="_blank"
  class="mr-3 hover:scale-125 transition ease-in-out delay-50"
  aria-label="Linkedin"
  title="Linkedin"
>
  <LinkedIn />
</a>

<a
  class="mx-3 hover:scale-125 transition ease-in-out delay-50"
  target="_blank"
  href="https://github.com/edelveart/"
  title="GitHub"
>
  <GitHub />
</a>
<a
  class="mx-3 hover:scale-125 transition ease-in-out delay-50"
  target="_blank"
  href="https://www.youtube.com/@edelvemusic"
  title="GitHub"
>
  <Youtube />
</a>
<a
  href="https://www.instagram.com/apersonnamededgar/"
  target="_blank"
  class="mx-3 hover:scale-125 transition ease-in-out delay-50"
  aria-label="Instagram"
  title="Instagram"
>
  <Instagram />
</a>
