---
import Skills from "@icons/Skills.astro";

export const techSkillsSpanish: string[] = [
  "TypeScript, Node.js, Express, SQL, Git",
  "Cierto conocimiento de Ruby y Python",
  "LaTex, GeoGebra, Zotero, BibTex",
  "Sonic Pi, MuseScore, Reaper",
];

export const techSkillsEnglish: string[] = [
  "TypeScript, Node.js, Express, SQL, Git",
  "Some knowledge of Ruby and Python",
  "LaTex, GeoGebra, Zotero, BibTex",
  "Sonic Pi, MuseScore, Reaper",
];

type Props = {
  indices: number[];
  title: string;
  techSkills: string[];
};

const { indices = [], title, techSkills = [] } = Astro.props;

const filteredSkills = indices
  .map((index) => techSkills[index])
  .filter((skill) => skill !== undefined);
---

<div class="my-10">
  <div class="text-2xl w-full font-black flex items-center">
    <!-- <Skills class="mr-4" /> -->
    {title}
  </div>
  <ul class="grid grid-cols-1 sm:grid-cols-2 gap-y-[2px] pl-2 mt-6">
    {
      filteredSkills.map((skill) => (
        <li class="relative pl-5 text-content text-base">
          <span class="absolute left-0 top-[0.6rem] w-2 h-2 bg-primary rounded-full" />

          <p>{skill}</p>
        </li>
      ))
    }
  </ul>
</div>
