<ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
  <li>TypeScript, JavaScript, NodeJS</li>
  <li>Git, command line</li>
  <li>HTML, CSS</li>
  <li>LaTex</li>
  <li>TeXstudio</li>
  <li>Musescore 4</li>
  <li>Sonic Pi 4</li>
  <li>Geogebra</li>
  <li>Reaper</li>
  <li>Zotero, BibTeX</li>
</ul>
