---
import Skills from "./icons/Skills.astro"
---

<div class="mb-5 mt-[-1rem]">
  <div class="text-2xl w-full font-bold flex items-center">
    <Skills class="ml-0 mr-4" />Tecnologías
  </div>
</div>

<ul id="skill-list" class="list-disc columns-2 mx-6 mb-8">
  <div class="ml-3">
    <li>TypeScript, Node, Express, SQL, Git</li>
    <li>Cierto conocimiento de Ruby y Python</li>
    <li>Sonic Pi, Musescore, Reaper</li>
    <li>LaTex, BibTeX, GeoGebra, Zotero</li>
  </div>
</ul>

<!-- <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10">
  <li>TypeScript, JavaScript, NodeJS</li>
  <li>Git, command line</li>
  <li>HTML, CSS</li>
  <li>LaTex, TeXstudio</li>
  <li>Musescore</li>
  <li>Sonic Pi</li>
  <li>Geogebra</li>
  <li>Reaper</li>
  <li>Zotero, BibTeX</li>
</ul> -->
