---
// import { Image } from "astro:assets";
// import ModFormEc from "../assets/svg-ggb/mod-form-ec-edelve.svg?raw'";
---

<div class="mx-auto h-auto invert hue-rotate-180 flex justify-center hover:hue-rotate-60 mb-8 mt-6">
  <img src="src/assets/svg-ggb/mod-form-ec-edelve.svg" alt="Math-Modular-Elliptic-Image" />
</div>
