<div class="mx-auto h-auto invert flex justify-center hue-rotate-180 hover:hue-rotate-90 mb-8 mt-8">
  <!-- <img src="/svg-ggb/mod-form-ec-edelve.svg" alt="Math-Modular-Elliptic-Image" /> -->
  <img src="/svg-ggb/L-function-music-vecta-io.svg" alt="Math-Modular-Elliptic-Image" />
</div>

<!-- Reduce SVG: -->
<!-- https://vecta.io/nano -->
