<div class="mx-auto h-auto invert hue-rotate-180 flex justify-center hover:hue-rotate-90 mb-8 mt-4">
  <!-- <img src="/svg-ggb/mod-form-ec-edelve.svg" alt="Math-Modular-Elliptic-Image" /> -->
  <img src="/svg-ggb/L-function-music.svg" alt="Math-Modular-Elliptic-Image" />
</div>
