<!--  --><!--  --><!--  -->
<div class="w-full invert hue-rotate-180 flex justify-center mt-4 hover:hue-rotate-60 max-w-2xl">
  <img class="" src="/MordellByEdelve.svg" alt="Math-Modular-Elliptic-Image" />
</div>
