---
import ModFormEc from "../assets/svg-ggb/mod-form-ec-edelve.svg?url";
---

<div class="mx-auto h-auto invert hue-rotate-180 flex justify-center hover:hue-rotate-60 mb-8 mt-6">
  <img src={ModFormEc} alt="Math-Modular-Elliptic-Image" />
</div>
