---
import { Image } from "astro:assets";
---

<div class="w-full relative mx-auto h-auto overflow-hidden rounded-lg">
  <div
    class="transition-all duration-300 hover:scale-105 hover:-hue-rotate-90 hover:brightness-105 invert"
  >
    <Image
      class="rounded-lg"
      format="webp"
      width={700}
      height={300}
      src="/mordell-curve-edelve.webp"
      alt="Mordell curve"
    />
  </div>
</div>
