---
import { Image } from "astro:assets";
---

<div class="invert hue-rotate-180 flex justify-center">
  <Image
    class="rounded-lg"
    format="webp"
    width={250}
    height={100}
    src="/mordell-curve-edelve.webp"
    alt="Mordell curve"
  />
</div>
