---
import { Image } from "astro:assets";
---

<div class="w-full relative mx-auto h-auto overflow-hidden rounded-lg flex justify-center">
  <div class="transition-all duration-300 hover:scale-150 hover:invert">
    <Image
      class="rounded-lg"
      format="webp"
      width={700}
      height={500}
      src="/mordell-curve-edelve.webp"
      alt="Mordell curve in Geogebra by Edgar Delgado Vega"
    />
  </div>
</div>
<div class="pb-4"></div>
