---
import Arrows from "@icons/Arrows.astro";
---

<div class="grid grid-cols-2 gap-4 mt-5">
  <div class="w-full h-24 justify-start text-left"></div>
  <a
    class="btn btn-ghost w-full min-h-24 justify-end text-right"
    href={"/blog/"}
  >
    <div class="text-base-content">Older posts</div>

    <Arrows direction="right" />
  </a>
</div>
