---
import HorizontalCard from "./HorizontalCard.astro"
---

<HorizontalCard
  title="ts-tonnetz in the new live coding environment TOPOS!"
  img="/src/assets/topos-docs.png"
  desc="Since December 2023, you can improvise with my library 'ts-tonnetz' within Topos (a new live coding environment designed by Raphaël Forment and Miika Alonen). 'ts-tonnetz'  serves as a dependency for Ziffers, a numerical notation system for algorithmic composition. Topos has exceptionally simplified but sufficient documentation of ts-tonnetz, where many of the ideas of 2 doctoral theses on mathematical music theory are explained (see Bigo, 2013; Cannas, 2018), among other most notable research articles in the field. "
  url="https://topos.live/#ziffers_tonnetz"
  badge="Topos.live | TypeScript"
/>

<div class="divider my-2"></div>

<HorizontalCard
  title="A new library in npm for live coders: TS-TONNETZ"
  img="/src/assets/ts-tonnetz-socialmedia.png"
  desc="A complete library of Neo-Riemannian Theory (67 functions and many graphs) written in TypeScript  for musicians, mathematicians and engineers interested in Mathematical Music Theory. It is based on two doctoral theses and notable articles on the subject. It is a perfect access point to this fascinating area where music, mathematics and computing at the highest level come together. Playing with ts-tonnetz will lead you to propose questions and new musical systems in an expressive and creative way."
  url="https://www.npmjs.com/package/ts-tonnetz"
  badge="npm | TypeScript"
/>

<div class="divider my-2"></div>

<HorizontalCard
  title="Ruby module to generate infinite sequences of figurate numbers"
  img="/src/assets/figurate-numbers-socialmedia.png"
  desc="This Ruby gem enables the generation of 239 infinite sequences of plane, spatial, and multidimensional figurate numbers, as described in the book ‘Figurate Numbers’ (2012) by Elena Deza and Michel Deza. The methods, implemented using the Enumerator class, are designed for use in your math projects or in Sonic Pi."
  url="https://rubygems.org/gems/figurate_numbers"
  badge="RubyGems | Ruby"
/>

<div class="divider my-2"></div>

<HorizontalCard
  title="New figurate numbers package for Python"
  img="/src/assets/figuratenum-socialmedia.png"
  desc="Since Python is one of the languages ​​that has many libraries for scientific computing, machine learning and AI, I have developed a pythonic version of Figurate Numbers."
  url="https://pypi.org/project/figuratenum/"
  badge="PyPi | Python"
/>
