---
interface JobProps {
  title: string;
  subtitle: string;
  description: string;
  buttonText: string;
  moreInfo: string;
}
const { title, subtitle, description, moreInfo = "Ver más" }: JobProps = Astro.props as JobProps;
---

<div class="flex">
  <div class="education__time">
    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
    <span class="education__line bg-primary block h-full w-[2.5px] translate-x-[6px]"></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold">{title}</h3>
    <span class="font-light text-sm">{subtitle}</span>

    {
      description && (
        <details class="mt-2 flex justify-center items-center">
          <summary class="text-sm cursor-pointer flex items-center gap-2">{moreInfo}</summary>

          <p class="my-2 text-pretty whitespace-pre-line max-w-[700px]">{description}</p>
        </details>
      )
    }
  </div>
</div>

<style>
  summary {
    display: inline-flex;
    transition: background-color 0.3s ease-in-out;
  }

  summary::after {
    content: "";
    display: block;

    border-top: 0.35rem solid transparent;
    border-bottom: 0.35rem solid transparent;
    border-left: 0.7rem solid #2bbdf8;
    transition: transform 0.3s ease-in-out;
  }

  details[open] summary::after {
    content: "";
    transform: rotate(90deg);
  }
</style>
