---
interface JobProps {
  title: string;
  subtitle: string;
  description: string;
}
const { title, subtitle, description }: JobProps = Astro.props as JobProps;
---

<div class="flex">
  <div class="education__time">
    <span class="w-3 h-3 bg-primary block rounded-full mt-1"></span>
    <span class=`education__line bg-primary block h-full w-[2px] translate-x-[4.5px]`></span>
  </div>
  <div class="experience__data bd-grid px-5">
    <h3 class="font-semibold">
      {title}
    </h3>
    <span class="font-light text-sm">{subtitle}</span>
    <p class="my-2 text-pretty whitespace-pre-line max-w-[700px]">
      {description}
    </p>
  </div>
</div>
