---
import Arrows from "@icons/Arrows.astro";

interface Props {
  key?: number;
  title: string;
  subtitle: string;
  description?: string;
  moreInfo?: string;
}
const { title, subtitle, description }: Props = Astro.props;
---

<div class="group flex">
  <div class="education__time flex flex-col items-center">
    <span class="w-3.5 h-3.5 border border-primary rounded-sm"></span>
    <span class="flex-1 border-l-[1.5px] border-base-content/20"></span>
  </div>

  <div class="experience__data px-5 pb-4 w-full">
    <details class="group">
      <summary class="cursor-pointer list-none">
        <h3
          class="font-semibold mb-1 text-lg transition-colors duration-150 group-hover:text-primary"
        >
          {title}
        </h3>

        <div class="flex items-center gap-2 text-sm">
          <span class="text-base-content/80">{subtitle}</span>

          {
            description && (
              <span class="transition-transform duration-200 group-open:-rotate-180 group-hover:text-primary">
                <Arrows direction="down" size="sm" />
              </span>
            )
          }
        </div>
      </summary>

      {description && <p class="mt-4 text-balance whitespace-pre-line max-w-180">{description}</p>}
    </details>
  </div>
</div>
