---
import { menuEnglish } from "./SideBar.astro";
---

<section>
  <p class="mb-4">
    Software developer passionate about problem-solving through mathematical abstractions, discrete
    algorithms, and design patterns.
  </p>
  <p class="mb-4">
    I launched ts-tonnetz, an advanced package for algorithmic composition and live coding,
    currently integrated into <a href="https://topos.live/#ziffers_tonnetz" target="_blank">
      <span class="text-primary hover:underline"> Topos (try it here!)</span>.
      <!-- <i class="text-primary fas fa-external-link-alt" aria-hidden="true"></i>. -->
    </a>
    My figurate number
    <a id="projects" href={menuEnglish.projectsMenu.href}>
      <span class="text-primary hover:underline">libraries</span></a
    > have surpassed 10,000 downloads. Previously, I published a Scopus-indexed
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <span class="text-primary hover:underline">paper</span>
      <!-- <i class="text-primary fas fa-external-link-alt" aria-hidden="true"></i> -->
    </a> on Mathematical Music Theory.
  </p>
  <p class="mb-4">
    In addition to teaching at the postgraduate level, I collaborate on international open-source
    projects.
  </p>
</section>
