<!-- <section>
  <p class="mb-4">
    TypeScript developer with knowledge of discrete algorithms and design patterns. In 2023, I
    initiated
    <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
      <strong class="text-primary hover:underline">ts-tonnetz</strong>,
    </a> a package for algorithmic composition used by <a
      href="https://topos.live/#ziffers_tonnetz"
    >
      <strong class="text-primary hover:underline">Topos (try it here!)</strong>.
    </a>
  </p>
  <p class="mb-4">
    I wrote an
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <strong class="text-primary hover:underline">article</strong>
    </a> indexed in Scopus and created the library
    <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
      <strong class="text-primary hover:underline">figurate_numbers</strong>,
    </a> which has surpassed 2000 downloads, highlighting my passion for mathematics.
  </p>
  <p class="mb-4">
    In addition to teaching at the postgraduate level, I collaborate in international open-source
    software projects.
  </p>
</section> -->
<section>
  <p class="mb-4">
    TypeScript developer with knowledge of discrete algorithms and design patterns. In 2023, I
    launched
    <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
      <strong class="text-primary hover:underline">ts-tonnetz</strong>,
    </a> a package for algorithmic composition now used by <a
      href="https://topos.live/#ziffers_tonnetz"
    >
      <strong class="text-primary hover:underline">Topos (try it here!)</strong>.
    </a>
  </p>
  <p class="mb-4">
    Passionate about mathematics, I authored a Scopus-indexed
    <a href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30" target="_blank">
      <strong class="text-primary hover:underline">article</strong>
    </a> and developed the libraries

    <a href=" https://www.npmjs.com/package/fignumbers" target="_blank">
      <strong class="text-primary hover:underline">fignumbers</strong>
    </a>
    and
    <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
      <strong class="text-primary hover:underline">figurate_numbers</strong>,
    </a> the latter having over 2800 downloads.
  </p>
  <p class="mb-4">
    In addition to teaching at the postgraduate level, I collaborate on international open-source
    software projects.
  </p>
</section>
