<text class="">
  I wrote the paper <a
    href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
    target="_blank"
  >
    <strong class="text-primary hover:underline">
      Formal Structures of a Harmony in the Parabola (click here to read it!)</strong
    >,
  </a> indexed in Scopus. In 2023, I began developing
  <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
    <strong class="text-primary hover:underline">ts-tonnetz</strong>,
  </a> a package for algorithmic composition used by the
  <a href="https://topos.live/#ziffers_tonnetz">
    <strong class="text-primary hover:underline"
      >Topos coding environment (try it out here!)</strong
    >.
  </a>
  In addition to teaching at the graduate level, I am passionate about math
  <a href="https://rubygems.org/gems/figurate_numbers">
    <strong class="text-primary hover:underline">
      (figurate_numbers has surpassed 2000 downloads)
    </strong>
  </a>
  and collaborate internationally in the creation of open-source software.
</text>
