---
import { menuEnglish } from "./SideBar.astro";
---

<section>
  <p class="mb-4">
    I develop <a
      href="https://rubygems.org/gems/modular_forms"
      target="_blank"
      class="text-primary hover:underline"
    >
      modular_forms</a
    >, an interactive interface for exploring modular forms and elliptic curves in real time through
    musical algorithms, aimed at live coders and number theory enthusiasts.
  </p>
  <p class="mb-4">
    In 2023, I launched <strong>ts-tonnetz</strong>, a package for algorithmic composition and live
    coding integrated into <a
      href="https://topos.live/#ziffers_tonnetz"
      target="_blank"
      class="text-primary hover:underline"
    >
      Topos</a
    >. My figurate numbers
    <a id="projects" href={menuEnglish.projectsMenu.href} class="text-primary hover:underline">
      libraries</a
    >
    have surpassed <strong>13,000 downloads</strong>. Previously, I published an
    <a
      href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
      target="_blank"
      class="text-primary hover:underline"
    >
      article</a
    >
    indexed in <strong>Scopus</strong> on Mathematical Music Theory.
  </p>
  <p class="mb-4">
    In addition to teaching at the graduate level, I collaborate on international open-source
    projects.
  </p>
</section>

<!-- <section>
  <p class="mb-4">
    Software developer passionate about problem-solving through mathematical abstractions, discrete
    algorithms, and design patterns. By now, I work on
    <a
      href="https://rubygems.org/gems/modular_forms"
      target="_blank"
      class="text-primary hover:underline"
    >
      modular_forms</a
    >, an intuitive interface for real-time interaction with modular forms and elliptic curves using
    musical algorithms and Sonic Pi.
  </p>

  <p class="mb-4">
    I launched <strong>ts-tonnetz</strong>, an advanced package for algorithmic composition and live
    coding, now integrated in <a
      href="https://topos.live/#ziffers_tonnetz"
      target="_blank"
      class="text-primary hover:underline"
    >
      Topos (try it here!)</a
    >. My figurate number
    <a id="projects" href={menuEnglish.projectsMenu.href} class="text-primary hover:underline">
      libraries</a
    > have surpassed <strong>13,000 downloads</strong>. Previously, I published a <strong
      >Scopus-indexed</strong
    >
    <a
      href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
      target="_blank"
      class="text-primary hover:underline"
    >
      paper</a
    > on Mathematical Music Theory.
  </p>
  <p class="mb-4">
    In addition to teaching at the postgraduate level, I collaborate on international open-source
    projects.
  </p>
</section> -->
