<!-- <text class="">
  TypeScript developer with knowledge of discrete algorithms and design
  patterns. I wrote the paper <a
    href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
    target="_blank"
  >
    <strong class="text-primary hover:underline">
      Formal Structures of a Harmony in the Parabola (click here to read it!)</strong
    >,
  </a> indexed in Scopus. In 2023, I began developing
  <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
    <strong class="text-primary hover:underline">ts-tonnetz</strong>,
  </a> a package for algorithmic composition used by the
  <a href="https://topos.live/#ziffers_tonnetz">
    <strong class="text-primary hover:underline"
      >Topos coding environment (try it out here!)</strong
    >.
  </a>
  <br />
  <br />
  In addition to teaching at the graduate level, my passion for math is reflected
  in my gem
  <a href="https://rubygems.org/gems/figurate_numbers">
    <strong class="text-primary hover:underline">figurate_numbers</strong>, wich
    has surpassed 2000 downloads.
  </a>
  Also involved in international collaborations for creating open-source software.
</text> -->
<text class="">
  TypeScript developer with knowledge of discrete algorithms and design
  patterns. In 2023, I started creating
  <a href="https://www.npmjs.com/package/ts-tonnetz" target="_blank">
    <strong class="text-primary hover:underline">ts-tonnetz</strong>,
  </a> a package for algorithmic composition used in the
  <a href="https://topos.live/#ziffers_tonnetz">
    <strong class="text-primary hover:underline"
      >Topos coding environment (try it out here!)</strong
    >.
  </a>
  <br />
  <br />

  I wrote an
  <a
    href="https://link.springer.com/chapter/10.1007/978-3-031-07015-0_30"
    target="_blank"
  >
    <strong class="text-primary hover:underline">article</strong>
  </a> indexed in Scopus and created the library
  <a href="https://rubygems.org/gems/figurate_numbers" target="_blank">
    <strong class="text-primary hover:underline">figurate_numbers</strong>,
  </a> which has surpassed 2000 downloads, reflecting my enthusiasm for mathematics.

  <br />
  <br />
  In addition to teaching at the graduate level, I am also involved in international
  collaborations to create open-source software.
</text>
