---
import TimeLineElement from "@components/TimeLine.astro"
import PencilEducation from "../icons/PencilEducation.astro"
---

<div class="mb-5" id="EDUCATION">
  <div class="text-2xl w-full font-bold flex items-center mt-[-0.5rem]">
    <PencilEducation class="ml-0 mr-4" />Education
  </div>
</div>

<div class="time-line-container grid gap-4 mb-0">
  <TimeLineElement
    title="UNIR | Master's Degree in Music Research"
    subtitle="2019 - 2020 | Spain"
  >
    First-class honors in Computerized Musical Analysis <br />
    Overall average: 9.4 (Outstanding)
  </TimeLineElement>
  <TimeLineElement
    title="USMP | B.A. in Music"
    subtitle="2009 - 2015 | Lima, Perú"
  />
</div>
