---
import TimeLineElement from "../TimeLine.astro";
import Work from "../icons/Work.astro";

export const allExperiences = [
  {
    title: "ZifferJS | TypeScript Software Developer",
    subtitle: "oct.2023 - present | Finland | Remote",
    description: `I collaborate on the development of ZifferJS, a generative music notationand parser written in TypeScript. It is designed to fit into any live coding environment that supports web technologies. My responsibilities include:
    ⚫ Implementing mathematical algorithms applied to simplicial complexes and graph theory
    ⚫ Creating unit tests (vitest) and writing documentation for Topos
    ⚫ Creating generator functions to work with infinite sequences`,
  },
  {
    title:
      "Escuela de Posgrado Newman | Lecturer in the Master's programs in Musicology and Music Pedagogy",
    subtitle: "may.2024 - present | Tacna, Perú | Remote",
    description: `Courses I teach in the Master's in Musicology:
    ⚫ Search, Documentation, and Dissemination Techniques in Musicological Research
    ⚫ Music Industries
    ⚫ Performative Research: Historical and Analytical Perspectives on Musical Performance
    ⚫ Musical Listening: A Historical and Cultural Approach
    Courses I teach in the Master's in Music Pedagogy:
    ⚫ Communication, Knowledge, and Digital Learning Applied to Music Education
    `,
  },
  {
    title: "EEST Toulouse Lautrec | Music production instructor",
    subtitle: "jun.2022 - present | Lima, Perú | Remote",
    description: `Anonymous feedback on my teaching practice is mostly positive. Subjects I teach in the program:
    ⚫ Fundamentals and tools of music production
    ⚫ Music theory, functional harmony and arrangements
    Technologies: MuseScore 4, Reaper 7.`,
  },
  {
    title: "National University Daniel Alomía Robles | Full-time Professor",
    subtitle: "may.2019 - dec.2019 | Huánuco, Perú | In-person",
    description: `Subjects I taught in the degree:
    ⚫ General didactics of education
    ⚫ Psychology of learning
    ⚫ Music didactics
    Technologies: MuseScore 3, LaTex.`,
  },
  {
    title: "PAENFTS - Music Educator",
    subtitle: "jun.2015 - oct.2017 | Lima, Perú | In-person",
    description: `Teaching music theory and performance.
    Technologies: MuseScore 2.`,
  },
];

const { workExperiences, indices } = Astro.props;
const filteredExperiences = indices
  ? indices.map((index) => workExperiences[index]).filter(Boolean)
  : workExperiences;
---

<div class="mb-5 mt-0" id="EXPERIENCE">
  <div class="text-2xl w-full font-bold flex items-center">
    <Work class="ml-0 mr-4" />Experience
  </div>
</div>

<div class="time-line-container mb-8 grid gap-4">
  {
    filteredExperiences.map((experience, index) => (
      <>
        <TimeLineElement
          key={index}
          title={experience.title}
          subtitle={experience.subtitle}
          description={experience.description}
        />
      </>
    ))
  }
</div>
