---
import Skills from "../icons/Skills.astro";

export const techSkills: string[] = [
  "TypeScript, Node.js, Express, SQL, Git",
  "Some knowledge of Ruby and Python",
  "LaTex, BibTex, GeoGebra, Zotero",
  "Sonic Pi, MuseScore, Reaper",
];
const { indices = [] } = Astro.props;
const filteredSkills = indices
  .map((index) => techSkills[index])
  .filter((skill) => skill !== undefined);
---

<div class="mb-5 mt-[-1rem]">
  <div class="text-2xl w-full font-bold flex items-center">
    <Skills class="ml-0 mr-4" />Skills
  </div>
</div>

<ul id="skill-list" class="list-disc columns-2 mb-8 ml-4">
  <div>
    {
      filteredSkills.map((skill) => (
        <li class="text-primary">
          <p class="text-neutral-content">{skill}</p>
        </li>
      ))
    }
  </div>
</ul>
