---
import BaseLayout from "@layouts/es/BaseLayout.astro";
import ListOfSkills from "@components/ListOfSkills.astro";
import { techSkillsSpanish } from "@components/ListOfSkills.astro";
import Education from "@components/es/Education.astro";
import { menuSpanish } from "@components/es/SideBar.astro";
import { linksTo } from "@components/Biography.astro";
import SonicPiModFormsImage from "@components/img-components/SonicPiModFormsImage.astro";
import FigurateNumImages from "@components/img-components/FigurateNumImages.astro";
---

<!-- https://math.uchicago.edu/~chonoles/miscellany/quotations/ -->
<BaseLayout title="Resume">
  <section class="pb-3 mt-5">
    <div class="mb-5 mt-5" id="CURRICULUM">
      <div class="text-3xl w-full font-bold flex items-center">
        <!-- <Curriculum class="ml-0 mr-4" /> -->
        ¿Quién soy?
      </div>
    </div>

    <article class="mb-10 mt-10">
      <blockquote class="mb-8">
        <p class="font-thin text-right text-sm italic">
          Los números son creaciones libres de la mente humana.
        </p>
        <footer class="text-right text-xs font-light mt-1">— Richard Dedekind</footer>
      </blockquote>

      <p class="mb-4">
        Soy Edgar Delgado, un desarrollador enfocado en la intersección de las matemáticas, la
        informática y la música. Mi trabajo tiene como objetivo crear abstracciones que exploren
        cómo estos campos pueden informarse y potenciarse mutuamente a través de analogías
        estructurales.
      </p>
      <p class="mb-4">
        Esto me impulsa a desarrollar <a
          class={linksTo}
          id="projects"
          href={menuSpanish.projectsMenu.href}>bibliotecas</a
        > que simplifiquen procesos complejos y permitan la creatividad en distintas disciplinas.para
        abordar problemas complejos.
      </p>

      <SonicPiModFormsImage />

      <p>
        Como alguien que cuestiona, prefiero reconstruir algoritmos con rigor matemático para
        desvelar sus verdaderas ideas y patrones subyacentes, lo cual también involucra asimetría y
        no conmutatividad. Encuentro que este enfoque es una verdadera manera de desbloquear nuevos
        conceptos.
      </p>

      <FigurateNumImages />

      <h2 class="text-xl my-6 font-semibold">Experiencia</h2>
      <p>
        Tengo amplia experiencia docente tanto a nivel de pregrado como de posgrado, con un enfoque
        en programación en vivo (<em>live coding </em>) musicología. Los comentarios destacan mi
        capacidad para explicar conceptos complejos de manera clara y creativa.
        <br />
        Mi enfoque se basa en preguntar “por qué” para recrear conceptos, de manera similar a las variaciones
        musicales, ampliando la práctica y la teoría al estilo de un producto tensorial.
      </p>

      <h2 class="text-xl my-6 font-semibold">Intereses</h2>
      <p>
        <ul class="pl-2">
          <li class="relative pl-5 text-content text-base">
            <span class="absolute left-0 top-[0.45rem] w-2 h-2 bg-primary rounded-full"></span>
            <p>Teoría Matemática de la Música</p>
          </li>
          <li class="relative pl-5 text-content text-base">
            <span class="absolute left-0 top-[0.45rem] w-2 h-2 bg-primary rounded-full"></span>
            <p>Lenguajes específicos de dominio (DSLs) para la música</p>
          </li>
          <li class="relative pl-5 text-content text-base">
            <span class="absolute left-0 top-[0.45rem] w-2 h-2 bg-primary rounded-full"></span>
            <p>Composición e improvisación musical asistida por ordenador</p>
          </li>
        </ul>
      </p>
    </article>
    <ListOfSkills title="Tecnologías" techSkills={techSkillsSpanish} indices={[0, 1, 2, 3]} />
    <img
      src="https://githubcard.com/edelveart.svg?d=JDU5hnct"
      alt="GitHub Stats"
      class="rounded-lg"
    />
    <Education />
  </section>
</BaseLayout>

<!-- <h2 class="my-4">El origen de mi interés por las matemáticas</h2>
  <p class="text-xs">
    Aunque mi atención estuvo dirigida hacia la música durante muchos años, mi interés por las
    matemáticas comenzó a una edad temprana, cuando me pregunté: ¿Por qué los números se comportan
    de manera diferente al cambiar su posición en el espacio? Dejé esa pregunta en el olvido durante
    largo tiempo, hasta que, en 2021, descubrí la geometría aritmética y la intersección entre los
    números, geometría y álgebra.
  </p> -->

<!-- <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Congresos
      </article>
    </div>

    <ul class="list-disc ml-4 mb-5 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          Ponente en Constelaciones: Congreso Interdisciplinario de Arte, Ciencia y Tecnología
          organizado por UTEC, PUCP, MAC-LIMA y Fundación Telefónica (2022). Ponencia: <b
            >¿Euclides en el live coding? Algoritmos y conceptos matemáticos durante la codificación
            en tiempo real.</b
          >
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          Conferencista invitado en el marco del 32° Festival Internacional de Guitarra del Ipcna
          (2021). Ponencia: <b>Teorías Transformacionales de la Teoría Matemática de la Música.</b>
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). Participante oyente en la <b
            >Conferencia Regional Latinoamericana y Panamericana de Educación Musical</b
          > - ISME.
        </p>
      </li>
    </ul>

    <div class="mb-5 mt-8">
      <article class="text-2xl w-full font-bold flex items-center">
        <Curriculum class="ml-0 mr-4" /> Certificaciones
      </article>
    </div>

    <ul class="list-disc ml-4 mb-8 grid gap-2">
      <li class="text-primary">
        <p class="text-neutral-content">
          Universidad Nacional de Ingeniería e Instituto de Matemáticas y Ciencias Afines, IMCA
          (2022). <b>Minicurso Antología de Ingenios Matemáticos. Proyecto final en GitHub.</b>
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2016). <b
            >Creatividad en el aula de música. Estrategias didácticas y evaluativas.
          </b> Dictado por la Dra. Ana Lucía Frega.
        </p>
      </li>
      <li class="text-primary">
        <p class="text-neutral-content">
          PUCP (2015). <b>Metodologías de la Investigación en Música.</b> Dictado por la Dra. Ana Lucía
          Frega.
        </p>
      </li>
    </ul> -->
