---
import BaseLayout from "@layouts/es/BaseLayout.astro";
import Writing from "@icons/Writing.astro";
import Errata from "@components/resources-components/Errata.astro";
import MiscFiles from "@components/resources-components/MiscFiles.astro";
import { SOCIAL_MEDIA } from "src/config";
import CheatSheets from "@components/resources-components/CheatSheets.astro";
---

<BaseLayout title="Resources" sideBarActiveItemID="RESOURCES_ACTIVE_PAGE">
  <article class="pb-3 mt-5">
    <div class="mb-5 mt-5">
      <div class="text-3xl w-full font-bold flex items-center">
        <Writing class="ml-0 mr-4 max-w-none" />
        Recursos y notas
      </div>
    </div>
    <p class="mb-5">
      Bienvenido a la sección de <strong>materiales, notas y lecturas</strong>. Todos los recursos
      están elaborados en <strong>LaTeX</strong> y disponibles en <strong>PDF</strong>. Aquí
      recopilo documentos sobre matemáticas, música y sus aplicaciones a través de software.
    </p>
    <!-- <p class="mb-5">
      Si eres estudiante, curioso o disfrutas de las conexiones entre el arte sonoro, aquí
      encontrarás algo que te motive. Espero que disfrutes explorando este contenido tanto como yo
      disfruto aprendiendo.
    </p> -->
  </article>

  <!-- <LectureNotes title="Notas de Lectura y documentos versionados" /> -->
  <MiscFiles title="Archivos varios" />
  <Errata title="Erratas en libros y tesis" />
  <CheatSheets title="Guías rápidas de librerias y hojas de trucos" />

  <section class="text-xs border-l-4 border-warning p-4 rounded mb-5">
    <h3 class="text-warning">Correcciones y versiones</h3>
    <p>
      Estos documentos son borradores y pueden contener errores u omisiones. Si encuentras alguna
      errata o inconsistencia, te agradecería que me lo informaras a través de <a
        class="text-primary"
        target="_blank"
        href={SOCIAL_MEDIA.linkedin}>LinkedIn</a
      >. Lo revisaré y corregiré con gusto en cuanto me sea posible.
    </p>
  </section>
  <section class="text-xs mb-5 border-l-4 border-error p-4 rounded">
    <h3 class="text-error">Aviso Legal</h3>
    <p>
      Todo el contenido disponible en este sitio web, incluyendo los documentos y recursos
      relacionados, está protegido por derechos de autor y se distribuye bajo la licencia Creative
      Commons <a
        class="text-primary"
        target="_blank"
        href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a
      > (Atribución-No Comercial-SinDerivados).
    </p>
    <p>
      Esto significa que puedes copiar y redistribuir el material en cualquier medio o formato,
      siempre que se dé el crédito adecuado, no se use con fines comerciales y no se realicen
      modificaciones ni se creen obras derivadas. No se permite el uso comercial ni la alteración
      del material sin autorización explícita.
    </p>
  </section>
</BaseLayout>
