---
import BaseLayout from "./BaseLayout.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} ogType="article">
  <article class="prose prose-h1:text-primary">
    <h1 class="title mt-6 text-3xl font-bold break-words mb-10 text-primary">
      {title}
    </h1>
    <slot />
  </article>
</BaseLayout>
