---
import BaseLayout from "./BaseLayout.astro";

const { title, description } = Astro.props;
---

<BaseLayout title={title} description={description} ogType="article">
  <article class="prose">
    <h1 class="title mt-5 text-3xl font-bold wrap-break-word text-primary">
      {title}
    </h1>
    <div class="prose-table:overflow-x-auto prose-table:block break-normal">
      <slot />
    </div>
  </article>
</BaseLayout>
